<div class="container">
  <div class="modal">

    <div class="content" [formGroup]="form" (ngSubmit)="handleSubmit()">

      <div class="modal-title">
        <h1>Create a task</h1>
        <!-- close button -->
        <button (click)="handleGoBack()" class="close-btn">
            <mat-icon aria-hidden="false">close</mat-icon>
        </button>
      </div>


      <div class="input-title">
        <input 
          type="text" 
          placeholder="Title..." 
          formControlName="title" 
          required
        />
      </div>

      <div class="body">

        <div class="description">
          <div>Description:</div>
          <textarea 
            placeholder="Describe your task..."
            formControlName="description"
            required
          ></textarea>
        </div>
        <div class="action">

          <div>
            <!-- Type -->
            <div class="actions-container">
              <div class="label">Type</div>
              <div class="select-container">
                <select formControlName="type" required>
                  <option value=1>General</option>
                  <option value=2>Bug</option>
                  <option value=3>Goal</option>
                  <option value=4 selected>Reminder</option>
                </select>
              </div>
            </div>
            <!-- Priority -->
            <div class="actions-container">
              <div class="label">Priority</div>
              <div class="select-container">
                <select formControlName="priority" required>
                  <option value=1>Low</option>
                  <option value=2>Medium</option>
                  <option value=3>High</option>
                  <option value=4>Needs Attention</option>
                </select>
              </div>
            </div>
            <!-- Progress -->
            <div class="actions-container">
              <div class="label">Progress</div>
              <div class="select-container">
                <select formControlName="progress" required>
                  <option value=1>Assigned</option>
                  <option value=2>Committed</option>
                  <option value=3>In Progress</option>
                  <option value=4>Completed</option>
                </select>
              </div>
            </div>
          </div>

          <div class="save-btn">
            <button 
              [disabled]="!form.valid"
              (click)="handleSubmit()"
            >
             <span>Create</span> 
            </button>
          </div>
          
          

        </div>
      </div>

    </div>

  </div>
</div>